node_modules/
frontend/node_modules/
.env
backend/.env
backend/.venv/
*.pyc
__pycache__/
frontend/.env
frontend/.env.local
frontend/.env*.local
frontend/.next/
frontend/node_modules/
frontend/package-lock.json
